<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

    <header>
        <h1>Bienvenido to the Cart</h1>
    </header>

    <nav>
        <h3>Sectionss</h3>
        <ul>
            <li class="nav-item"><a href="/login">Login</a></li>
            <li class="nav-item"><a href="/api/products">Productos</a></li>
            <li class="nav-item"><a href="/api/users/current">Actual user</a></li>
            <li class="nav-item">
                <a href="/addProducts">Add products to the inventary (Admin only)</a>
            </li>
        </ul>
    </nav>

</body>

</html>
